# Lesson 3

## Overview

- Tricks for functions
- - Lambda functions
- - Composing functions

- Tricks for lists
- - Syntactic sugar
- - `sorted()`
- - `zip()`
- - `any()` and `all()`

- Tricks for strings
- - `lower()`
- - `split()`
- - `strip()`
- - `startswith()`

- Type casting

- PA2 Review

## Tricks for functions

### Lambda functions

Shorthand functions for simple tasks. Especially useful for sorting (will discuss soon).

In [1]:
sum_a_b_sq = lambda a, b: a + b ** 2
print(sum_a_b_sq(2, 4))

18

### Composing functions

Apply multiple functions in one line. Notice *, which unpacks the list (** unpacks a dictionary).

In [2]:
a_sq_b_cubed = lambda a, b: (a ** 2, b ** 3)
print(sum_a_b_sq(*a_sq_b_cubed(4, 12)))

2986000

In [4]:
a_sq_b_cubed(4, 12)

(16, 1728)

In [3]:
*a_sq_b_cubed(4, 12)

SyntaxError: can't use starred expression here (2410165554.py, line 1)

In [14]:
def print_name(first_name, last_name, middle_name=''):
    print(first_name, middle_name, last_name)

print_name(first_name='Adam', middle_name='Alexander', last_name='Oppenheimer')
print_name(**{'first_name': 'Adam', 'middle_name': 'Alexander', 'last_name': 'Oppenheimer'})

SyntaxError: non-default argument follows default argument (1961358567.py, line 1)

In [15]:
def print_name(first_name, middle_name='', last_name):
    print(first_name, middle_name, last_name)

SyntaxError: non-default argument follows default argument (4160617308.py, line 1)

## Tricks for lists

### Syntactic sugar

Super convenient way to create lists (also works for dictionaries and tuples).

In [17]:
lst = []
for a in range(5):
    lst.append(a)
print(lst)

[0, 1, 2, 3, 4]

In [16]:
[a for a in range(5)]

[0, 1, 2, 3, 4]

In [18]:
[a if (a % 2 == 0) else 1 / a for a in range(5)]

[0, 1.0, 2, 0.3333333333333333, 4]

In [19]:
[a for a in range(5) if a != 3]

[0, 1, 2, 4]

In [21]:
[a if (a % 2 == 0) else 1 / a for a in range(5) if a != 2]

[0, 1.0, 0.3333333333333333, 4]

Can even nest syntactic sugar. Notice you order the for loops in the same order as if you were writing out the full loops.

In [22]:
[(i, j) for i in range(3) for j in range(2)]

[(0, 0), (0, 1), (1, 0), (1, 1), (2, 0), (2, 1)]

In [23]:
[(i, j) for i in range(3) for j in range(i)]

[(1, 0), (2, 0), (2, 1)]

Be careful about some weird behavior with syntactic sugar (this can also happen with regular loops) (see https://stackoverflow.com/questions/3431676/creating-functions-or-lambdas-in-a-loop-or-comprehension).

### `sorted()`

Sort a list and specify the key. Notice the lambda functions to set the key for sorting.

In [24]:
sorted([('d', 4), ('a', 1), ('r', 2)], key=lambda a: a[0])

[('a', 1), ('d', 4), ('r', 2)]

In [25]:
sorted([('d', 4), ('a', 1), ('r', 2)], key=lambda a: a[1])

[('a', 1), ('r', 2), ('d', 4)]

### `zip()`

Combine two lists element by element. Make sure to convert to a list for PA3.

In [26]:
list(zip(range(0, 5), range(5, 0, -1)))

[(0, 5), (1, 4), (2, 3), (3, 2), (4, 1)]

Make sure the lists are the same length! They'll zip even if they aren't!

In [36]:
list(zip(range(0, 7), range(5, 0, -1)))

[(0, 5), (1, 4), (2, 3), (3, 2), (4, 1)]

In [28]:
for i in zip(range(0, 5), range(5, 0, -1)):
    print(i)

(0, 5)
(1, 4)
(2, 3)
(3, 2)
(4, 1)

In [34]:
zipped_lst = zip(range(0, 5), range(5, 0, -1))
for elmt in zipped_lst:
    print(elmt)
    break
for elmt in zipped_lst:
    print(elmt)
    break
print(zipped_lst[0])

(0, 5)
(1, 4)

TypeError: 'zip' object is not subscriptable

### `any()` and `all()`

`any()`: check whether any element of a list is True.

`all()`: check whether all elements of a list are True.

In [37]:
any([True, True, False])

True

In [38]:
any([False, False, False])

False

In [39]:
all([True, True, False])

False

In [40]:
all([True, True, True])

True

## Tricks for strings

### `lower()`

Convert text to lowercase.

In [41]:
'HELLO'.lower()

'hello'

### `split()`

Split string into a list, dividing words by the specified character.

In [42]:
'Hello, I am Adam.'.split(' ')

['Hello,', 'I', 'am', 'Adam.']

In [43]:
'Hello, I am Adam.'.split('m')

['Hello, I a', ' Ada', '.']

### `strip()`

Remove the specified characters from the start and end of a string.

In [45]:
'abcdefgabcdefg'.strip('bacdg')

'efgabcdef'

### `startswith()`

Check whether the string starts with the specified string.

In [46]:
'hello'.startswith('he')

True

In [47]:
'hello'.startswith('hen')

False

### Type casting

Convert between types by writing the name of the type you want to convert to and using the name as if it is a function.

In [48]:
val = 1.0
print(val)
print(int(val))

1.0
1

In [49]:
lst = [1, 2, 3]
print(lst)
print(tuple(lst))

[1, 2, 3]
(1, 2, 3)

In [50]:
print(zip(range(0, 5), range(5, 0, -1)))
print(list(zip(range(0, 5), range(5, 0, -1))))

<zip object at 0x7fd818792d80>
[(0, 5), (1, 4), (2, 3), (3, 2), (4, 1)]

## PA2 review

Quickly review my solution