# Lesson 1

## Overview

- Conda
- - Environments

- Importing Packages

- Variables
- - Assignment (using =)
- - Naming
- - Types (str, int, float, bool, lists/tuples/sets, dicts)
- - Lists/tuples/sets and dicts
- - - For lists/tuples: subsets, len(), sum(), max(), min(), etc.

- If statements
- - Comparisons
- - `and` and `or`
- - Indentation

- Loops
- - Indentation
- - For loops
- - While loops
- - Breaks
- - Continue

- Functions
- - Indentation
- - Arguments
- - Returns
- - Comments
- - - Docstrings

- Printing text

## Conda

Does lots of things, we're using it for package management

### Environments

Allows you to keep packages organized - see [here](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html)

- To create: `conda create --name pycourse` (you can replace `pycourse` with any custom name)
- To activate: `conda activate pycourse`
- To install pip: `conda install pip`
- To install package: `pip install packagename` (replace `packagename` with the name of the package you want to install)
- - For this lesson, please install: `jupyterlab` and/or `notebook` to be able to open Jupyter Notebooks (like this) (see [here](https://jupyter.org/install) for more information)

## Importing Packages

Type `import packagename`

In [39]:
import random

In [41]:
print(random.random())

0.7773242780744012

## Variables

Why - you need to keep track of what's what

### Assignment

Assign a value to a name using `=` (this is not equivalent to mathematical equality, check that using `==`)

In [1]:
x = 10
print(x)

10

### Naming

Choose names carefully

In [2]:
x = 10
distance = 10

### Types

str, int, float, bool, lists/tuples/sets, dicts

In [3]:
course_name_v1 = 'Python Course, Summer 2023'
course_name_v2 = "Python Course, Summer 2023"
course_year = 2023
lecture_1_frac_complete = 1/5
lecture_1_complete = False
lectures = [1, 2, 3, 4, 5, 6, 7, 8]
lecture_v2 = (1, 2, 3, 4, 5, 6, 7, 8)
lectures_v3 = {1, 2, 3, 4, 5, 6, 7, 8, 8}
lectures_occurred = {1: 'True', 2: 'False', 3: 'False', 4: 'False', 5: 'False', 6: 'False', 7: 'False', 8: 'False'}

### Lists/tuples/sets and dicts

Lists are mutable (they can be changed)
- Access an element using `list[index]` (indexing starts at 0)

Tuples are immutable (they cannot be changed)
- Access an element using `tuple[index]` (indexing starts at 0)

Sets don't have an order

Dicts work like a dictionary (a term called a 'key' will be linked to an associated variable called a 'value')
- Access a `value` using `dict[key]`

In [4]:
print(lectures)
lectures[0] = 0
print(lectures)

[1, 2, 3, 4, 5, 6, 7, 8]
[0, 2, 3, 4, 5, 6, 7, 8]

In [5]:
print(lecture_v2)
lecture_v2[0] = 0

(1, 2, 3, 4, 5, 6, 7, 8)

TypeError: 'tuple' object does not support item assignment

In [6]:
print(lectures_v3)
lectures_v3[0] = 0

{1, 2, 3, 4, 5, 6, 7, 8}

TypeError: 'set' object does not support item assignment

In [9]:
lectures_occurred = {1: 'True', 2: 'False', 3: 'False', 4: 'False', 5: 'False', 6: 'False', 7: 'False', 8: 'False'}
print(lectures_occurred)
lectures_occurred[0] = False
print(lectures_occurred)
lectures_occurred['word'] = 'definition'
print(lectures_occurred)

{1: 'True', 2: 'False', 3: 'False', 4: 'False', 5: 'False', 6: 'False', 7: 'False', 8: 'False'}
{1: 'True', 2: 'False', 3: 'False', 4: 'False', 5: 'False', 6: 'False', 7: 'False', 8: 'False', 0: False}
{1: 'True', 2: 'False', 3: 'False', 4: 'False', 5: 'False', 6: 'False', 7: 'False', 8: 'False', 0: False, 'word': 'definition'}

### For lists/tuples: subsets, len(), sum(), max(), min(), etc.

Access a subset of a list/tuple using `list[a: b]`/`tuple[a: b]`, which gives you the elements starting and index `a` and ending at index `b-1` (remember that indexing starts at 0)

In [11]:
lectures

[0, 2, 3, 4, 5, 6, 7, 8]

In [10]:
print('Subset of list:', lectures[2: 4])
print('Length of list:', len(lectures))
print('Max of tuple:', max(lecture_v2))
print('Min of tuple:', min(lecture_v2))

Subset of list: [3, 4]
Length of list: 8
Max of tuple: 8
Min of tuple: 1

## If statements

If you want a task to occur under certain conditions

### Comparisons

- `==` for equality
- `!=` for inequality
- `>` or `<` for strict inequality
- `>=` or `<=` for weak inequality
- `in` for list membership

In [14]:
x != 10

False

In [15]:
if x == 8:
    print('x is 8')
elif x == 9:
    print('x is 9')
else:
    print('x is neither 8 nor 9')

x is neither 8 nor 9

### `and` and `or`

Combine statements with `and` and `or`

In [18]:
if (x >= 0) and (x < 20):
    print('x is in [0, 20)')

x is in [0, 20)

In [17]:
if 0 <= x < 20:
    print('x is in [0, 20)')

x is in [0, 20)

### Indentation

Make sure the code inside the if statement is properly indented (4 spaces)

## Loops

If you want to repeat a task

### Indentation

Make sure the code inside the loop is properly indented (4 spaces)

### For loops

Iterate through the elements of a list/tuple/etc

In [19]:
# List/tuple
for lecture in lectures:
    print('Lecture:', lecture)

Lecture: 0
Lecture: 2
Lecture: 3
Lecture: 4
Lecture: 5
Lecture: 6
Lecture: 7
Lecture: 8

In [20]:
lectures_occurred.items()

dict_items([(1, 'True'), (2, 'False'), (3, 'False'), (4, 'False'), (5, 'False'), (6, 'False'), (7, 'False'), (8, 'False'), (0, False), ('word', 'definition')])

In [21]:
# Dict
for lecture, lecture_occurred in lectures_occurred.items():
    print(f'Lecture {lecture} occurred: {lecture_occurred}')

Lecture 1 occurred: True
Lecture 2 occurred: False
Lecture 3 occurred: False
Lecture 4 occurred: False
Lecture 5 occurred: False
Lecture 6 occurred: False
Lecture 7 occurred: False
Lecture 8 occurred: False
Lecture 0 occurred: False
Lecture word occurred: definition

In [22]:
len(lectures)

8

In [23]:
# Range
for i in range(len(lectures)):
    print(f'Loop {i}, lecture {lectures[i]}')

Loop 0, lecture 0
Loop 1, lecture 2
Loop 2, lecture 3
Loop 3, lecture 4
Loop 4, lecture 5
Loop 5, lecture 6
Loop 6, lecture 7
Loop 7, lecture 8

In [24]:
# Enumerate
for i, lecture in enumerate(lectures):
    print(f'Loop {i}, lecture {lecture}')

Loop 0, lecture 0
Loop 1, lecture 2
Loop 2, lecture 3
Loop 3, lecture 4
Loop 4, lecture 5
Loop 5, lecture 6
Loop 6, lecture 7
Loop 7, lecture 8

### While loops

Iterate as long as some condition holds

In [25]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

### Breaks

An alternative way to get out of loops

In [26]:
i = 0
while True:
    print(i)
    i += 1
    if i >= 10:
        break

0
1
2
3
4
5
6
7
8
9

### Continue

If you want an if statement for clarity, but you don't want it to do anything

In [30]:
for i, lecture in enumerate(lectures):
    print(i)
    if lecture == 3:
        continue
    else:
        print('This is not lecture 3')

0
This is not lecture 3
1
This is not lecture 3
2
3
This is not lecture 3
4
This is not lecture 3
5
This is not lecture 3
6
This is not lecture 3
7
This is not lecture 3

## Functions

A simple way to repeat a task

### Indentation

Make sure the code inside the function is properly indented (4 spaces)

### Arguments

The input the function requires to run (equivalent to the arguments of a mathematical function)

### Returns

What the function produces after it runs

### Comments

Explain what you code is doing (put `#` before a single-line comment, or wrap a multi-line comment in triple quotes `'''`)

#### Docstrings

Detail at the top of the function what it does, what the arguments are, and what it returns

In [35]:
def square_x(x):
    '''
    Return the square of x.
    
    Arguments:
        x (float): value to square
        
    Returns:
        (float): square of x
    '''
    return x ** 2

def list_mean(lst):
    '''
    Return the mean of a list of numbers.
    
    Arguments:
        lst (list): list to compute the mean of
        
    Returns:
        (float): mean value of lst
    '''
    lst_sum = 0
    lst_len = 0
    for val in lst:
        # Add values to sum
        lst_sum += val
        # Update length of list
        lst_len += 1
    # Compute mean value in lst
    return lst_sum / lst_len

def list_mean_v2(lst):
    '''
    Return the mean of a list of numbers.
    
    Arguments:
        lst (list): list to compute the mean of
        
    Returns:
        (float): mean value of lst
    '''
    return sum(lst) / len(lst)

def list_mean_v3(lst1, lst2):
    '''
    Return the mean of the means of two lists of numbers.
    
    Arguments:
        lst1 (list): list 1 to compute the mean of
        lst2 (list): list 2 to compute the mean of

    Returns:
        (float): mean value of mean values of lst1 and lst2
    '''
    return (list_mean_v2(lst1) + list_mean_v2(lst2)) / 2

In [32]:
square_x(10)

100

In [33]:
list_mean([2, 7, 10])

6.333333333333333

In [34]:
list_mean_v2([2, 7, 10])

6.333333333333333

In [36]:
list_mean_v3([2, 7, 10], [5, 12, 1])

6.166666666666666

## Printing text

Look throughout for examples, but primarily use `f`:

In [37]:
print(f'This is an f statement, so we can print variables like lists: {lectures} or dicts: {lectures_occurred} easily')

This is an f statement, so we can print variables like lists: [0, 2, 3, 4, 5, 6, 7, 8] or dicts: {1: 'True', 2: 'False', 3: 'False', 4: 'False', 5: 'False', 6: 'False', 7: 'False', 8: 'False', 0: False, 'word': 'definition'} easily

For simple cases, use commas (this is not as clean for complicated examples):

In [38]:
print('Lectures:', lectures)

Lectures: [0, 2, 3, 4, 5, 6, 7, 8]